{% extends '../base.html' %}

{% block main %}
{% include 'includes/navbar.html' %}
<div class="container-fluid">
  {% include 'includes/sidebar.html' %}
  <!-- <div class="col py-3">
      Estimations
    </div> -->


  <div class="col py-7">
    <br>
    <div class="row g-2">
      <div class="col-md-12">
        <h4>Creating <span id="title" class="estimation-name"></span> </h4>
        <br>

        <form id="main-form" action="" method="POST">
          {% csrf_token %}
          <div class="row g-3">

            <div class="col-md-3">
              <label for="estimation-name">Name</label>
              <div class="input-group">
                <input id="estimation-name" name="name" type="text" class="form-control"
                  placeholder="estimation name">
              </div>
            </div>

            <div class="col-md-3">
              <label for="estimated-duration">Estimated Duration (Months)</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fa fa-clock-o"></i>
                  </div>
                </div>

                <input id="estimated-duration" name="estimated-duration" type="number" class="form-control"
                  placeholder="estimated duration">
              </div>
            </div>


            <div class="col-md-3">
              <label for="estimated-cost">Estimated Cost (Taka)</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class=" fa fa-money"></i>
                  </div>

                </div>

                <input id="estimated-cost" name="estimated-cost" type="number" class="form-control"
                  placeholder="estimated cost">
              </div>
            </div>
          </div>


          <div class="form-group">
            <label for="Description">Description</label>
            <textarea class="form-control" id="description" name="description" rows="3"></textarea>
          </div>
          </div>

          <h5>Add Designers</h5>
          <div add-designer-container>
            <template add-designer-template>
              <div class="row g-3">
                <div class="col-md-2">
                  <label for="tag">Tag</label>
                  <div class="input-group">
                    <select class="form-select form-select-sm mb-3 tag" aria-label=".form-select-lg example">
                      {% for tag in tags %}
                        <option value={{ tag.name }}>{{ tag.name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>

                <div class="col-md-2">
                  <label for="Category">Category</label>
                  <div class="input-group">
                    <select class="form-select form-select-sm mb-3 category" aria-label=".form-select-lg example">
                      {% for category in designer_categories %}
                        <option value={{ category }}>{{ category }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>

                <div class="col-md-2">
                  <label for="num-of-designers">Number of Designers</label>
                  <input id="num-of-designers" type="number" class="form-control form-control-sm number-of-designers"
                    placeholder="0" >
                  </div>
                </div>

                <div class="col-md-2">
                  <label for="estimated-cost">Estimated Cost (Taka)</label>
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class=" fa fa-money"></i>
                      </div>

                    </div>

                    <input id="estimated-cost" name="" type="number" class="form-control designer-cost"
                      placeholder="estimated cost">
                  </div>
                </div>
             
              </div>
            </template>
          </div>
          
          <input class="designer-count" name="designer-count" hidden></input>
          <div class="md-2">
            <div class="input-icons">
              
            <button type="button"  id="add-designer-button" name="add-more-designer" class="btn btn-primary">  <i class="fa fa-plus"></i>
              &nbsp;&nbsp;Add More Designers</button>
            </div>
          </div>

          <h5>Add Vendors</h5>

          <div add-vendor-container>
            <template add-vendor-template>
              <div class="row g-4 vendor">
                <div class="col-md-2">
                  <label for="tag">Tag</label>
                  <div class="input-group">
                    <select name="" class="form-select form-select-sm mb-3 tag" aria-label=".form-select-lg example">
                      {% for tag in tags %}
                        <option value={{ tag.name }}>{{ tag.name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>

                <div class="col-md-2">
                  <label for="Service">Service</label>
                  <div class="input-group">
                    <select name="" class="form-select form-select-sm mb-3 service" aria-label=".form-select-lg example">
                      {% for service in vendor_services %}
                        <option value={{ service.name }}>{{ service.name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>

                <div class="col-md-2">
                  <label for="num-of-vendors">Number of Vendors</label>
                  <input name="" id="num-of-vendors" type="number" class="form-control form-control-sm number-of-vendors"
                    placeholder="0">
                  </div>
                </div>

                <div class="col-md-2">
                  <label for="estimated-cost">Estimated Cost (Taka)</label>
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class=" fa fa-money"></i>
                      </div>

                    </div>

                    <input name="" type="number" class="form-control vendor-cost"
                      placeholder="estimated cost">
                  </div>
                </div>
              </div>
            </template>
          </div>
          {% comment %} <input class="unique" name=""></input> {% endcomment %}
          <input class="vendor-count" name="vendor-count" hidden></input>
          <div class="md-2">
            <button type="button" id="add-vendor-button" name="add-more-vendor" class="btn btn-primary"><i class="fa fa-plus"></i>
              &nbsp;&nbsp;Add More Vendors</button>
          </div>

          <h5>Summary</h5>

          <div class="card-bg">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Title</th>
                  <th scope="col">Number of Designers</th>
                  <th scope="col">Number of Vendors</th>
                  <th scope="col">Estimated Time</th>
                  <th scope="col">Estimated Cost</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row" class="estimation-name"></th>
                  <td class="designer-count">0</td>
                  <td class="vendor-count">0</td>
                  <td><span class="estimated-duration">0</span> Months</td>
                  <td><span class="estimation-cost">0</span> taka</td>
                </tr>

              </tbody>
            </table>
          </div>


          <div class="md-2">
            <button type="submit" id="add-more-designer" name="add-estimation" class="btn btn-success"><i
                class="fa fa-plus"></i>
              &nbsp;&nbsp;Add Estimation</button>
          </div>
        </form>

    </div>

    <br>
  </div>

</div>
{% endblock main %}

{% block scripts %}
  {% load static %}
  <script src="{% static 'js/estimation.js' %}" defer></script>
{% endblock scripts %}