{% extends '../base.html' %}

{% block main %}
{% include 'includes/navbar.html' %}
<div class="container-fluid">
  {% include 'includes/sidebar.html' %}

  <form action="" method="POST">
    {% csrf_token %}

    <div class="col-md-2">
        <label for="estimated-cost">Name</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fa fa-clock-o"></i>
            </div>
          </div>

          <input id="name" name="name" type="text" class="form-control" value="{{estimation.name}}"
            placeholder="name">
        </div>
      </div>
  </form>
{% endblock main %}