{% extends '../base.html' %}

{% block main %}
{% include 'includes/navbar.html' %}
<div class="container-fluid">
  {% include 'includes/sidebar.html' %}
  <!-- <div class="col py-3">
      Estimations
    </div> -->


  <div class="col py-7">
    <br>
    <center>
      <a href="/create-estimation/{{ username }}" id="add-estimation" name="add-estimation" class="btn btn-primary">Add Estimation</a>
    </center>
    <br>
    
    <div class="card-bg">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Duration (months)</th>
            <th scope="col">Cost (taka)</th>
          </tr>
        </thead>
        <tbody>
          {% for estimation in estimations %}
            <tr>
              <th scope="row">{{ estimation.id }}</th>
              <td>{{ estimation.name }}</td>
              <td>{{ estimation.description }}</td>
              <td>{{ estimation.estimated_duration_months }}</td>
              <td>{{ estimation.estimated_cost }}</td>
              {% comment %} <td><button id="edit-estimation" name="edit-estimation" class="btn btn-primary">Edit</button></td> {% endcomment %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

</div>
{% endblock main %}